LOG_FILE=
XL2TPD_LOG_FILE=
CMD_TIMEOUT_IN_SECONDS=

# имя для настраиваемого виртуального пространства
VPN_NAMESPACE=

# имя интерфейса для сетевого пространства по умолчанию
INTFS_DEFAULT_NS=
# ip адрес интерфейса
IP_DEFAULT_NS=

# имя интерфейса для виртуального сетевого пространства
INTFS_VPN_NS=
# gateway для виртуального сетевого пространства
DEFAULT_GATEWAY_VPN_NS=
# ip адрес интерфейса
IP_VPN_NS=

# Подсеть источника для NAT (Подсеть, включающая IP_DEFAULT_NS и IP_VPN_NS)
SOURCE_SUBNET=
OUT_INTERFACE=

# Конфигурация VPN L2TP/IPSEC
VPN_NAME=
VPN_SERVER_IP=
VPN_IPSEC_PSK=
VPN_USER=
VPN_PASSWORD=
