LOG_FILE=/home/irbis-eh/revolt_cli/log/app_bash.log

# имя для настраиваемого виртуального пространства
VPN_NAMESPACE=

# имя интерфейса для сетевого пространства по умолчанию
VETH_INTFS_DEFAULT_NS=
# ip адрес интерфейса
VETH_IP_DEFAULT_NS=

# имя интерфейса для виртуального сетевого пространства
VETH_INTFS_VASE_NS=
# ip адрес интерфейса
VETH_IP_VASE_NS=

# Конфигурация VPN L2TP/IPSEC
VPN_NAME=
VPN_SERVER_IP=
VPN_IPSEC_PSK=
VPN_USER=
VPN_PASSWORD=
